<header>
  <div class="nav-menu">
    <div class="brand-title">
      <h1 style="font-size: larger">{{ 'HEADER.BRAND' | translate }}</h1>
    </div>

    <ul class="menu">
      <li class="item-menu">
        <a mat-flat-button routerLink="/dashboards">{{ 'HEADER.DASHBOARDS' | translate }}</a>
      </li>
      <li class="item-menu">
        <a mat-flat-button routerLink="/tasks">{{ 'HEADER.TASKS' | translate }}</a>
      </li>
      <li class="item-menu">
        <a mat-flat-button routerLink="/personal">{{ 'HEADER.PERSONAL' | translate }}</a>
      </li>
    </ul>
  </div>

  <div class="search-box">
    <input class="search-bar" type="text" [placeholder]="'HEADER.SEARCH' | translate" />
  </div>

  <div class="user-menu">
    <ul class="menu">
      <li class="user-menu-item language-switch">
        <button class="lang-btn" (click)="switchLang('es')" [disabled]="currentLang() === 'es'" title="Español">🇪🇸</button>
        <button class="lang-btn" (click)="switchLang('en')" [disabled]="currentLang() === 'en'" title="English">🇺🇸</button>
      </li>
      <li class="user-menu-item">
        <mat-icon aria-label="notification icon">notifications</mat-icon>
      </li>
      <li class="user-menu-item">
        <button mat-icon-button (click)="goToConfigurations()">
          <mat-icon>settings</mat-icon>
        </button>
      </li>
      <li class="user-menu-item">
        <button mat-icon-button (click)="goToAccount()">
          <mat-icon>account_circle</mat-icon>
        </button>
      </li>
      <li class="user-menu-item">
        <button mat-icon-button (click)="logout()" title="{{ 'HEADER.LOGOUT' | translate }}">
          <mat-icon>logout</mat-icon>
        </button>
      </li>
    </ul>
  </div>
</header>
