<header>
  <div class="nav-menu">
    <div class="brand-title">
      <h1 style="font-size: larger">IronGrid Systems</h1>
    </div>

    <button mat-icon-button class="hamburger" (click)="toggleMobileMenu()">
      <mat-icon aria-label="hamburger menu icon">menu</mat-icon>
    </button>

    <ul class="menu" [ngClass] = "{'active':isMobileMenuOpen}">
      <li class="item-menu">
        <a mat-flat-button routerLink="/">{{'HOME' | translate}}</a>
      </li>
      <li class="item-menu">
        <a mat-flat-button routerLink="/projects">{{ 'PROJECTS' | translate }}</a>
      </li>
      <li class="item-menu">
        <a mat-flat-button routerLink="/dashboards">{{ 'COLLABORATORS' | translate }}</a>
      </li>
      <li class="item-menu">
        <a mat-flat-button routerLink="/dashboards">{{ 'REPORTS' | translate }}</a>
      </li>
    </ul>
  </div>

  <div class="search-box">
    <input class="search-bar" type="text" placeholder="Search" />
  </div>

  <div class="user-menu">
    <ul class="menu">
      <li class="user-menu-item">
        <button class="user-menu-btn" mat-icon-button>
          <mat-icon aria-label="notification icon">notifications</mat-icon>
        </button>
      </li>

      <li class="user-menu-item" (clickOutside)="closeDropDown('settings')">

        <button mat-icon-button class="user-menu-btn" (click)="toggleDropDown($event, 'settings')">
          <mat-icon>settings</mat-icon>
        </button>
        <div class="dropdown" *ngIf="dropdownStates['settings']">
          <div class="dropdown-item">
            <a routerLink="/account">General Settings</a>
          </div>

        </div>
      </li>

      <li class="user-menu-item" (clickOutside)="closeDropDown('account')">
        <button class = "user-menu-btn" mat-icon-button (click)="toggleDropDown($event, 'account')">
          <mat-icon>account_circle</mat-icon>
        </button>
        <div class="dropdown" *ngIf="dropdownStates['account']">
          <div class="dropdown-item">
            <a routerLink="/account">Profile</a>
          </div>
          <div class="dropdown-item">
            <a routerLink="/configurations">Account Settings</a>
          </div>
          <div class="dropdown-item">
            Theme
          </div>
          <div class="dropdown-item">Log Out</div>
        </div>
      </li>
    </ul>
  </div>
</header>
