<section class="task-details-container">
  <h1 class="page-title">{{ 'TASK_DETAILS.BREADCRUMB' | translate }}</h1>

  <div class="task-info">
    <div><strong>{{ 'TASK_DETAILS.NUMBER' | translate }}</strong></div>
    <div>{{ tarea.id }}</div>

    <div><strong>{{ 'TASK_DETAILS.TASK' | translate }}</strong></div>
    <div>{{ 'TASKS.NAMES.' + tarea.nombre | translate }}</div>

    <div><strong>{{ 'TASK_DETAILS.DESCRIPTION_TITLE' | translate }}</strong></div>
    <div class="description-content">{{ tarea.descripcion | translate }}</div>

    <div><strong>{{ 'TASK_DETAILS.START_DATE' | translate }}</strong></div>
    <div>{{ tarea.fechaInicio }}</div>

    <div><strong>{{ 'TASK_DETAILS.DUE_DATE' | translate }}</strong></div>
    <div>{{ tarea.fechaLimite }}</div>

    <div><strong>{{ 'TASK_DETAILS.PRIORITY' | translate }}</strong></div>
    <div>{{ tarea.prioridad }}</div>
  </div>

  <button class="back-button" routerLink="/tasks">{{ 'TASK_DETAILS.BACK' | translate }}</button>
</section>
