h3 {
  margin-bottom: 1.5rem;
}

mat-slide-toggle {
  margin-bottom: 1.5rem;
  --mat-slide-toggle-thumb-color: #1976d2;
}

mat-checkbox {
  margin-bottom: 0.5rem;
  --mat-checkbox-checked-color: #1976d2;
}


.checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
