<div class="configurations-container">
  <!-- Encabezado -->
  <div class="header-bar">
    <h2>Configuraciones</h2>
    <button mat-icon-button class="close-button" [routerLink]="['/home']" aria-label="Cerrar">
      <mat-icon>close</mat-icon>
    </button>

  </div>

  <!-- Contenido dividido -->
  <div class="configurations-content">
    <!-- Menú lateral izquierdo -->
    <div class="left">
      <button routerLink="notifications" routerLinkActive="active">Notificaciones</button>
      <button routerLink="privacy" routerLinkActive="active">Privacidad</button>
      <button routerLink="region" routerLinkActive="active">Idioma y región</button>
      <button routerLink="terms" routerLinkActive="active">Condiciones de servicio</button>
      <button routerLink="policy" routerLinkActive="active">Políticas de privacidad</button>
      <button routerLink="info" routerLinkActive="active">Información</button>
    </div>

    <!-- Contenido dinámico de cada subcomponente -->
    <div class="right">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
