<h3>{{ 'CONFIG.INFO.TITLE' | translate }}</h3>

<mat-card class="info-card">
  <div class="info-content">
    <p><strong>{{ 'CONFIG.INFO.NAME' | translate }}:</strong> IronGrid Systems</p>
    <p><strong>{{ 'CONFIG.INFO.VERSION' | translate }}:</strong> 1.0.0</p>
    <p><strong>{{ 'CONFIG.INFO.LAST_UPDATED' | translate }}:</strong> Mayo 2025</p>
    <p><strong>{{ 'CONFIG.INFO.DEV' | translate }}:</strong> Equipo de Ingeniería de Software - UPC</p>
    <p><strong>{{ 'CONFIG.INFO.CONTACT' | translate }}:</strong> soporte&#64;irongrid.app</p>
    <p><strong>{{ 'CONFIG.INFO.LICENSE' | translate }}:</strong> MIT</p>
  </div>
</mat-card>
